@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* Main Styling */
html,
body {
	font-family: 'Montserrat', sans-serif;
	color: #4d4d4d;
	background: #101018;
}

h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 2rem;
	font-weight: 500;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
	font-weight: 300;
}

a {
	text-decoration: none;
}

.mb-5{
	margin-bottom: 5px;
}

/* Utility Classes */
.container {
	margin: auto;
	max-width: 1000px;
	overflow: auto;
	padding: 0 20px;
}

.large {
	font-size: 1.25rem;
}

.txt-gray {
	color: #949292;
}

.display-1 {
	font-size: 4rem;
}

.btn {
	display: inline-block;
	font-size: 15px;
	padding: 12px 23px;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 4px;
}

.btn-round {
	border-radius: 20px;
}

.btn-dark {
	background: #2e2e2e;
	border: 1px solid #2e2e2e;
	color: #fff;
}

.btn-dark:hover {
	background: #525252;
	border: 1px solid #525252;
	color: #fff;
}

form label {
	display: inline-block;
	margin-bottom: 6px;
}

form .form-group {
	margin-bottom: 16px;
}

form .form-control {
	display: block;
	width: 100%;
	padding: 7px 12px;
	font-size: 1rem;
	line-height: 1.5;
	color: #495057;
	background: transparent;
	border: 1px solid #ced4da;
	border-radius: 4px;
}

/* Navbar */
#navbar {
	overflow: auto;
	padding-top: 20px;
	padding-bottom: 20px;
}

#navbar a {
	color: #4d4d4d;
}

#navbar .logo {
	float: left;
	padding-top: 16px;
	font-size: 25px;
	color: #ffffff !important;
}

#navbar ul {
	list-style: none;
	float: right;
	background: #2e2e2e;
	border-radius: 20px;
	margin-top: 15px;
}

#navbar ul li {
	float: left;
}

#navbar ul li a {
	display: block;
	padding: 12px;
	text-align: center;
	color: #ffffff;
}

#navbar ul li a:hover {
	color: #525252;
}


.showcase-row {
	display: flex;
	padding: 100px 0;
}

.showcase-row-title p.large {
	padding-bottom: 15px;
}

.showcase-row-img{
	display: flex;
	justify-content: center;
	align-items: center;
}

.showcase-row-img img{
	width: 50%;
	float: right;
}

/* Portfolio */
#portfolio {
	padding: 80px 0;
	text-align: center;
}

#portfolio p {
	width: 500px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
}

.portfolio-row {
	display: flex;
}

.portfolio-row img {
	width: 100%;
	padding: 10px;
	border-radius: 20px;
}

/* About Me */
#about {
	text-align: left;
}

#about h2 {
	padding-bottom: 20px;
}

#about p {
	padding-bottom: 20px;
}

#contact h2 {
	text-align: center;
}

#contact p {
	width: 500px;
	margin: 0 auto;
	padding-top: 10px;
}

.contact-row {
	display: flex;
	padding: 20px;
}

.contact-row-img {
	width: 50%;
	text-align: center;
	height: 40%;
}

.contact-row-img img {
	padding: 100px;
	width: 80%;
}

.contact-row-form {
	width: 340px;
	height: 40%;
	margin-bottom: 100px;
	color: #949292;
}

.contact-row-form h4 {
	padding-bottom: 40px;
	text-align: center;
}

.contact-row-form button {
	width: 100%;
}

/* Footer */
#mainfooter {
	text-align: center;
	padding: 30px;
}

#skills {
	padding-left: 20%;
	padding-right: 20%;
}

#skills h2{
	margin-bottom: 20px;
}

#skills .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
}

#skills .skill img {
    max-width: 55px !important;
    max-height: 55px !important;
    margin-bottom: 0.5rem;
}

#skills .skill span {
    font-size: 1rem;
    color: #333;
	margin-left: 5px;
}

.skills-carousel {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.skills-track {
    display: inline-flex;
    animation: scroll 20s linear infinite;
}

.skill {
    display: inline-block;
    padding: 20px;
    text-align: center;
}

.skill img {
    width: 50px;
    height: 50px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

#me {
	padding-bottom: 50px;
}

.me-image{
	width: 180px;
	background: #282831;
  	border-radius: 50%;
}

#me{
	text-align: left;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.carousel-item img {
    width: 50px;
    height: 50px;
}

.carousel-item span {
    margin-top: 10px;
}

.carousel-item.active {
    transform: scale(1.5);
    filter: brightness(1.5);
}

.container-section{
	margin-left: 50px;
	margin-top: 30px;
}

.container-section .header-section{
	margin-bottom: 20px;
	color: #949292;
	display: flex;
	align-items: center;
}

.header-section h3{
	color: white;
}

.container-section .body-section{
	padding-left: 20px;
  	border-left: 2px solid gray;
	  margin: 14px;
}

.body-section-item{
	display: flex;
	color: #949292;
}

.body-section-item .section-item-left{
	padding: 10px;
	min-width: 300px;
}

.body-section-item .section-item-right{
	padding: 10px;
}

.body-section-item .section-item-right p{
	padding: 0;
	margin: 0;
}

.skills-container {
	display: grid;
	/* gap: 20px; */
	grid-template-columns: repeat(2, 1fr);
	max-width: 800px;
  }
  
  .card {
	border-radius: 8px;
	margin: 20px;
	padding: 5px;
	text-align: center;
	background: #9492921c;
  }
  
  .card h4 {
	margin-bottom: 10px;
	text-align: left;
	text-align: center;
	border-radius: 7px;
	color: #949292;
	padding: 2px;
	border-bottom-right-radius: 0;
  	border-bottom-left-radius: 0;
  }
  
  .icon-set a {
	margin: 0 10px;
  }
  
  .icon-set img {
	transition: transform 0.3s;
	width: 35px;
	height: 35px;
	margin: 2px;
  }
  
  .icon-set img:hover {
	transform: scale(1.1);
  }

  .lamp-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 0;
    float: left;
	margin-left: 220px;
}

.cord {
    width: 2px;
    height: 100px;
    background-color: #555;
    position: absolute;
    top: 0;
}

.lamp {
    width: 60px;
    height: 30px;
    background-color: #ffa500;
    border-radius: 50% 50% 0 0;
    position: absolute;
    top: 100px;
    box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.8);
    animation: swing 2s infinite ease-in-out;
}

.light {
	position: absolute;
	top: 50px;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 370px solid rgba(255, 255, 224, 0.15);
	filter: blur(15px);
	opacity: 0.8;
	transform: rotate(180deg) translateY(10%);
	z-index: -1;
	left: -70px;
}

/* Animación de balanceo */
@keyframes swing {
    0% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}

#mainheader{
	max-width: 1000px;
	margin: auto;
}

.button-container {
    display: flex;
    justify-content: center;
}

.light-button {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
	background: transparent;
	color:white;
}

.light-button i {
    margin-right: 8px;
}

.circle-icon{
	font-size: 20px;
	background: white;
	color: #101018;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;	
	margin-right: 15px;
}

.wrapper {
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.catContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.catbody {
  width: 80px;
}
.tail {
  position: absolute;
  width: 17px;
  top: 50%;
  animation: tail 0.5s ease-in infinite alternate-reverse;
  transform-origin: top;
}
@keyframes tail {
  0% {
    transform: rotateZ(60deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-20deg);
  }
}
.wall {
  width: 300px;
}
.text {
  display: flex;
  flex-direction: column;
  width: 50px;
  position: absolute;
  margin: 0px 0px 100px 120px;
}
.zzz {
  color: black;
  font-weight: 700;
  font-size: 15px;
  animation: zzz 2s linear infinite;
}
.bigzzz {
  color: black;
  font-weight: 700;
  font-size: 25px;
  margin-left: 10px;
  animation: zzz 2.3s linear infinite;
}
@keyframes zzz {
  0% {
    color: transparent;
  }
  50% {
    color: black;
  }
  100% {
    color: transparent;
  }
}

