@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}

/* Main Styling */
html{
	font-family: Arial, sans-serif; /* Fuente de ejemplo */
	color: #4d4d4d;
	background: linear-gradient(to bottom, #1a1c28 0%, #12131c 50%, #0b0c11 100%);
}
body {
	font-family: Arial, sans-serif; /* Fuente de ejemplo */
	color: #4d4d4d;
	background: linear-gradient(to bottom, #1a1c28 0%, #12131c 50%, #0b0c11 100%);
}

h2{
	color: white;
}

p {
	font-size: 1rem;
	margin: 10px 0;
	line-height: 1.7em;
	font-weight: 300;
	text-justify: inter-word;
}

a {
	text-decoration: none;
}

.mb-5{
	margin-bottom: 5px;
}

/* Utility Classes */
.container {
	margin: auto;
	max-width: 850px;
	overflow: auto;
	padding: 0 20px;
}

.large {
	font-size: 1.25rem;
}

.txt-gray {
	color: #949292;
}

.txt-grayBlack {
	color: rgb(77, 77, 77)
}

.display-1 {
	font-size: 3rem;
}

.btn {
	display: inline-block;
	font-size: 15px;
	padding: 6px 15px;
	font-weight: bold;
	letter-spacing: 1px;
	border-radius: 4px;
	margin-right: 10px;
}

.btn-round {
	border-radius: 20px;
}

.btn-dark {
	background: #1e2737ba;
	border: 1px solid #1e2737;
	color: #fff;
}

.btn-dark:hover {
	border: 1px solid #32425e;
	color: #fff;
}

form label {
	display: inline-block;
	margin-bottom: 6px;
}

form .form-group {
	margin-bottom: 16px;
}

form .form-control {
	display: block;
	width: 100%;
	padding: 7px 12px;
	font-size: 1rem;
	line-height: 1.5;
	color: white;
	background: transparent;
	border: 1px solid #ced4da;
	border-radius: 4px;
	resize: none;
}

/* Navbar */
#navbar {
	overflow: auto;
	position: fixed;
	margin: auto;
	max-width: 900px;
	margin-left: auto;
	width: 100%;
	z-index: 99999;
}

#navbar a {
	color: #4d4d4d;
}

#navbar .logo {
	float: left;
	padding-top: 16px;
	font-size: 25px;
	color: #ffffff !important;
}

#navbar ul {
	list-style: none;
	float: right;
	background: #1e2737ba;
	border-radius: 20px;
	margin-top: 15px;
}

#navbar ul li {
	float: left;
}

#navbar ul li a {
	display: block;
	padding: 12px;
	text-align: center;
	color: #ffffff;
}

#navbar ul li a:hover {
	color: #525252;
}


.showcase-row {
	display: flex;
	padding: 100px 0;
	padding-top: 200px;
}

.showcase-row-title p.large {
	padding-bottom: 15px;
}

.showcase-row-img{
	display: flex;
	justify-content: center;
	align-items: center;
}

.showcase-row-img img{
	width: 50%;
	float: right;
}

/* Portfolio */
#portfolio {
	padding: 80px 0;
	text-align: center;
}

#portfolio p {
	width: 500px;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 50px;
}

.portfolio-row {
	display: flex;
}

.portfolio-row img {
	width: 100%;
	padding: 10px;
	border-radius: 20px;
}

/* About Me */
#about {
	text-align: left;
}

#about h2 {
	padding-bottom: 20px;
}

#about p {
	padding-bottom: 20px;
	text-align: justify;
}

#contact h2 {
	text-align: center;
}

#contact p {
	width: 500px;
	margin: 0 auto;
	padding-top: 10px;
}

#contact-form {
	width: 300px;
	margin-top: 35px;
	margin-right: 110px;
	box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.15);
	z-index: 9999;
	position: fixed;
	right: 0px;
	display: none;
	border: 0;
	padding: 20px;
	border-radius: 10px;
	background: #9492921c;
	color: white;
}

.contact-row {
	display: flex;
	padding: 20px;
}

.contact-row-img {
	width: 50%;
	text-align: center;
	height: 40%;
}

.contact-row-img img {
	padding: 100px;
	width: 80%;
}

.contact-row-form {
	width: 340px;
	height: 40%;
	margin-bottom: 100px;
	color: #949292;
}

.contact-row-form h4 {
	padding-bottom: 40px;
	text-align: center;
}

.contact-row-form button {
	width: 100%;
}

/* Footer */
#mainfooter {
	text-align: center;
	padding: 30px;
}

#skills {
	padding-left: 20%;
	padding-right: 20%;
}

#skills h2{
	margin-bottom: 20px;
}

#skills .skill {
    display: flex;
    flex-direction: column;
    align-items: center;
	justify-content: center;
}

#skills .skill img {
    max-width: 55px !important;
    max-height: 55px !important;
    margin-bottom: 0.5rem;
}

#skills .skill span {
    font-size: 1rem;
    color: #333;
	margin-left: 5px;
}

.skills-carousel {
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
}

.skills-track {
    display: inline-flex;
    animation: scroll 20s linear infinite;
}

.skill {
    display: inline-block;
    padding: 20px;
    text-align: center;
}

.skill img {
    width: 50px;
    height: 50px;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

#me {
	padding-bottom: 50px;
}

.me-image{
	width: 180px;
	background: #1c1c22;
  	border-radius: 50%;
}

.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 200px;
    position: relative;
}

.carousel-track {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    flex: 0 0 20%;
    max-width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease, filter 0.5s ease;
}

.carousel-item img {
    width: 50px;
    height: 50px;
}

.carousel-item span {
    margin-top: 10px;
}

.carousel-item.active {
    transform: scale(1.5);
    filter: brightness(1.5);
}

.container-section{
	margin-top: 30px;
}

.header-section{
	display: flex;
}

.container-section .header-section{
	margin-bottom: 20px;
	color: #949292;
	display: flex;
	align-items: center;
}

.header-section h3{
	color: white;
}

.container-section .body-section{
	padding-left: 20px;
  	border-left: 2px solid #7b7a7a24;
	  margin: 14px;
}

.body-section-item{
	display: flex;
	color: #949292;
}

.body-section-item .section-item-left{
	padding: 10px;
	min-width: 300px;
}

.body-section-item .section-item-right{
	padding: 10px;
}

.body-section-item .section-item-right p{
	padding: 0;
	margin: 0;
}

.section-item-right p{
	text-align: justify;
}

.skills-container {
	display: grid;
	/* gap: 20px; */
	grid-template-columns: repeat(2, 1fr);
	max-width: 800px;
  }
  
  .card {
	border-radius: 8px;
	margin: 20px;
	padding: 5px;
	text-align: center;
	background: #9492921c;
  }
  
  .card h4 {
	margin-bottom: 10px;
	text-align: left;
	text-align: center;
	border-radius: 7px;
	color: white;
	padding: 2px;
	border-bottom-right-radius: 0;
  	border-bottom-left-radius: 0;
  }
  
  .icon-set a {
	margin: 0 10px;
  }
  
  .icon-set img {
	transition: transform 0.3s;
	height: 35px;
	margin: 2px;
  }
  
  .icon-set img:hover {
	transform: scale(1.1);
  }

  .lamp-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 0;
    float: left;
	margin-left: 250px;
}

.cord {
    width: 2px;
    height: 100px;
    background-color: #555;
    position: absolute;
    top: 0;
}

.lamp {
    width: 60px;
    height: 30px;
    background-color: #ffa500;
    border-radius: 50% 50% 0 0;
    position: absolute;
    top: 100px;
    box-shadow: 0px 0px 10px rgba(255, 255, 0, 0.8);
    animation: swing 2s infinite ease-in-out;
}

.light {
	position: absolute;
	top: 50px;
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 370px solid rgba(255, 255, 224, 0.15);
	filter: blur(30px);
	opacity: 0.8;
	transform: rotate(180deg) translateY(15%);
	z-index: -1;
	left: -70px;
}

/* Animación de balanceo */
@keyframes swing {
    0% { transform: rotate(5deg); }
    50% { transform: rotate(-5deg); }
    100% { transform: rotate(5deg); }
}

#mainheader{
	max-width: 1000px;
	margin: auto;
}

.button-container {
    display: flex;
    justify-content: center;
}

.light-button {
	display: flex;
	align-items: center;
	font-size: 20px;
	padding: 10px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
	transition: background-color 0.3s ease;
	background: transparent;
	color: white;
}

.light-button i {
    margin-right: 8px;
}

.circle-icon{
	font-size: 25px;
	color: white;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 15px;
}

.wrapper {
	width: fit-content;
	height: fit-content;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 85px;
	background: #1c1c22;
	border-radius: 50%;
	padding: 26px;
	right: -33px;
	position: relative;
}
.catContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.catbody {
  width: 50px;
}
.tail {
	position: absolute;
	width: 8px;
	top: 65%;
	animation: tail 1.5s ease-in infinite alternate-reverse;
	transform-origin: top;
}
@keyframes tail {
  0% {
    transform: rotateZ(60deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-20deg);
  }
}
.wall {
  width: 300px;
}
.text {
	display: flex;
	flex-direction: column;
	width: 50px;
	position: absolute;
	margin: 0px 0px 80px 95px;
}
.zzz {
  color: white;
  font-weight: 700;
  font-size: 15px;
  animation: zzz 2s linear infinite;
}
.bigzzz {
  color: white;
  font-weight: 700;
  font-size: 25px;
  margin-left: 10px;
  animation: zzz 2.3s linear infinite;
}
@keyframes zzz {
  0% {
    color: transparent;
  }
  50% {
    color: white;
  }
  100% {
    color: transparent;
  }
}


button {
	font-family: inherit;
	font-size: 15px;
	background: #353434;
	color: white;
	padding: 5px;
	display: flex;
	align-items: center;
	border: none;
	border-radius: 5px;
	overflow: hidden;
	transition: all 0.2s;
	cursor: pointer;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}
.text-white{
	color: white;
}

.mb-4{
	margin-bottom: 40px;
}

.project-description{
	margin-left: 20px;
	background-color: #9492921c;
	padding: 15px;
	border-radius: 8px;
	color: #949292;
}

.project-description a{
	background: #11121a;
    color: #fff;
	padding: 5px;
	border-radius: 5px;

}

.project-card{
	display: flex;
}

.project-card img {
    box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.15);
	border-radius: 15px;
	height: 220px;
}

.project-card h3 {
    font-size: 1.25rem;
    font-weight: 700;
	color: white;
	margin-bottom: 10px;
}

.project-card p {
    font-size: 0.9rem;
	text-align: justify;
}

.badge {
    font-size: 0.8rem;
    color: #949292;
}
.about-me-footer {
	padding-top: 10px;
	border-radius: 8px;
	color: #9492921c;
	max-width: 600px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	line-height: 1.6;
}

.about-me-footer button{
	float: right;
	background: #1c1d23;
	border-radius: 50%;
}

.about-me {
	background-color: #9492921c; /* Fondo oscuro */
	padding: 20px;
	padding-top: 35px;
	border-radius: 8px;
	color: #949292;
	max-width: 600px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	line-height: 1.6;
  }
  
  .about-me h2 {
	font-size: 1.8em;
	color: #ffd700; /* Color dorado para el título */
	margin-bottom: 10px;
	position: relative;
  }
  
  .about-me h2::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -5px;
	width: 40px;
	height: 3px;
	background-color: #949292; /* Barra decorativa dorada */
  }
  
  .about-me p {
	margin-bottom: 15px;
	text-align: justify;
  }
  
  .about-me .highlight {
	font-weight: bold !important;
	color: #ffffff !important; /* Destacado en dorado */
  }

  .about-me.head{
	background: transparent !important;
	padding: 0 !important;
	margin: 0 !important;
	max-width: 668px !important; 
  }

  #projects{
	margin-top: 15px;
  }

  #me{
	margin-top: 100px;
	margin-bottom: 100px;
  }

  .more-information{
	padding-bottom: 20px;
	padding-top: 35px;
	border-radius: 8px;
	color: #ffffff;
	max-width: 600px;
	margin: 0 auto;
	font-family: Arial, sans-serif;
	line-height: 1.6;
	display: none;
  }

  .more-information h3{
	font-weight: normal;
  }

  .more-information-detail{
	padding: 10px;
	background: #1c1c23;
	border-radius: 8px;
	align-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 15px;
  }

  .container-bg-dark{
	background: #11121a !important;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 15px;
	color: white;
  }

  .projects-container{
	margin: 15px;
	margin-left: 0;
  }